{%extends "base.html"%}
{% load bootstrap_toolkit %}
{% load url from future %}
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.JS"></script>
    <![endif]-->
    <!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->

{% bootstrap_javascript_tag %}

{%block headname%}注册成功{%endblock%}

{%block content%}


<script language="JavaScript1.2" type="text/javascript">
function delayURL(url) {
   var delay=document.getElementById("time").innerHTML;
   //最后的innerHTML不能丢，否则delay为一个对象
   if(delay>0){
   delay--;
   document.getElementById("time").innerHTML=delay;
   }else{
   window.top.location.href=url;
   }
setTimeout("delayURL('" + url + "')", 1000);
//此处1000毫秒即每一秒跳转一次
}
</script>
<h2>
    添加成功...
</h2>
<h2>    <span id="time">3</span>
秒钟之后自动跳转，如果不跳转，请点击下面链接
<a href="/income">入库页面</a>
    </h2>
<script type="text/javascript">
delayURL("/income");
</script>
{%endblock%}