{%extends "base.html"%}
{% load bootstrap_toolkit %}
{% load url from future %}
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.JS"></script>
<![endif]-->
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->

{% bootstrap_javascript_tag %}

{%block headname%}所有预约{%endblock%}

{%block content%}
<div class="container">
    <div class="span10">
        <table class="table table-striped">
            <tr class="success">
                <td>ID</td>
                <td>时间</td>
                <td>课程名称</td>
                <td>任课教师</td>
                <td>地点</td>
                <td>预约人数</td>
                <td>已预约人数</td>
                <td></td>
            </tr>
            {% for timetable in timetables %}
            <tr>
                <td>{{timetable.id}}</td>
                <td>{{timetable.time}}</td>
                <td>{{timetable.courseName}}</td>
                <td>{{timetable.teacher}}</td>
                <td>{{timetable.room}}</td>
                <td>{{timetable.max_people}}</td>
                <td>{{timetable.order_people}}</td>
                {% if timetable.is_ordered %}
                <td><button class="btn btn-primary disabled" id="{{timetable.id}}">已约</button> </td>
                {% else %}
                {%ifequal timetable.max_people timetable.order_people%}
                <td><button class="btn btn-primary btn-danger" id="{{timetable.id}}">已满</button> </td>
                {%else%}
                <td><button class="btn btn-primary couldclick" id="{{timetable.id}}">预约</button> </td>
                {%endifequal%}
                {% endif %}
            </tr>
            {% endfor %}
        </table>
<div class="hide">
        <form class="form-horizontal" action="" method="post">
            {% csrf_token %}
            {{ form|as_bootstrap:"horizontal" }}
            <p class="form-actions">
                <input type="submit" value="登录" class="btn btn-primary" >
            </p>
        </form>
    </div>
</div></div>
<script>
    $('.couldclick').on("click",function(){
    console.log($(this).attr('id'));
    $('#id_tableid').attr('value',$(this).attr('id'));
    $('form').submit();
    }
    );



</script>
{%endblock%}
