<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/mycss.css" rel="stylesheet" type="text/css">
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css">
    <title>hello</title>
</head>
<body>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2">
        <div class="sider-bar text-center">
            <ul class="nav nav-list">
                <li class="nav-header"><h3>仓库管理系统</h3></li>
                <li class="active"><a href="#"><i class="icon-white icon-home"></i> 首页</a></li>
                <li><a href="register"><i class="icon-book"></i> 入库</a></li>
                <li><a href="#"><i class="icon-pencil"></i> 出库</a></li>
                <li><a href="#"><i class="icon-pencil"></i> 查询</a></li>
                <li class="nav-header">-----功能------</li>
                <li><a href="/login"><i class="icon-user"></i> 登入</a></li>
                <li><a href="/logout"><i class="icon-cog"></i> 登出</a></li>
                <li class="divider"></li>
                <li><a href="/register"><i class="icon-flag"></i> 注册</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">

            {%block content%}
        </div>
        {%endblock%}</div>
    <div class="col-md-2"></div>
</div>
</body>
</html>
