<!DOCTYPE html>
{% load bootstrap_toolkit %}
{% load url from future %}
<html lang="ch">
<head>
    <meta charset="utf-8">
    <title>{%block headname%}首页{%endblock%} - 课程答疑预约系统</title>
    <meta name="description" content="">
    <script src="/static/jquery.js"></script>
    {% bootstrap_stylesheet_tag %}
    {% bootstrap_stylesheet_tag "responsive" %}
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.JS"></script>
    <![endif]-->
    <!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>-->
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
    <style type="text/css">

        body {padding:50px}
        .center {
        width: auto;
        display: table;
        margin-left: 40;
        margin-right: 40;
        }
        .text-center {
        text-align: center;
        }
    </style>
</head>

<body>
<div class="navbar navbar-fixed-top" role="navigation">
    <div class="navbar-inner">
        <div class="container">
            <!--navigation does here-->
            <a class="brand" href="/">课程答疑预约系统</a>
            <form class="navbar-search pull-left">
                <input type="text" class="search-query" placeholder="Search">
            </form>
            <ul class="nav">
                <li><a href="/all-timetables">所有预约</a></li>
                {%if is_teacher %}
                <li><a href="/mypublish">我的发布</a></li>
                <li><a href="/publish">发布一条</a></li>
                {%else%}
                <li><a href="/mytime">我的预约</a></li>
                {%endif%}

            </ul>

            <ul class="nav pull-right">
                <li><a href="/help">帮助</a> </li>
                <li class="dropdown">
                    {% if user.is_authenticated %}
                    <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="#">
                        {{user}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="/logout">登出</a> </li>
                        <li><a href="/personal">个人信息</a> </li>
                        <li><a href="/changepsw">修改密码</a> </li>
                        <li><a href="/history">登录历史</a> </li>
                        <li><a href="/admin">超级管理员</a></li>
                    </ul>
                    {% else %}

                <li><a href="/login">登录</a> </li>
                <li><a href="/register">注册</a> </li>
                {% endif %}
                </li>



            </ul>
        </div>
    </div>
</div>


{%block content%}
{%endblock%}
<script type="text/javascript">

</script>
</body>
</html>