<!DOCTYPE html>
<html>
<head>
<title>课程答疑预约系统</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<!--// css -->
<script src="http://www.5imoban.net/download/jquery/jquery-1.8.3.min.js"></script>
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="logo">
			<a href="/">课程答疑预约系统</a>
		</div>
		<div class="top-nav">
			<span class="menu">MENU</span>
			<ul class="nav1">
				<li><a href="/login" class="active">登录</a></li>
				<li><a href="/register">注册</a></li>
				<li><a href="/admin">超级管理员入口</a></li>
			</ul>
			<!-- script-for-menu -->
				<script>
					 $( "span.menu" ).click(function() {
					$( "ul.nav1" ).slideToggle( 300, function() {
					// Animation complete.
						});
						});
				</script>
			<!-- /script-for-menu -->
		</div>
		<div class="banner-grid">
					<div class="bx-caption">
						<script src="/static/js/responsiveslides.min.js"></script>
					<script>
						// You can also use "$(window).load(function() {"
						$(function () {
						  // Slideshow 4
						  $("#slider3").responsiveSlides({
							auto: true,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
							  $('.events').append("<li>before event fired.</li>");
							},
							after: function () {
							  $('.events').append("<li>after event fired.</li>");
							}
						  });
					
						});
					</script>
					<div  id="top" class="callbacks_container">
						<ul class="rslides" id="slider3">
							<li>
								<div class="banner-info">
									<h3>教师登录</h3>
									<p>教师发布课程答疑时间，请在登录之后发布。注意时间的格式必须按照默认格式填写。请及时上线查看自己发布课程的预约情况。</p>
								</div>
							</li>
							<li>
								<div class="banner-info">
									<h3>学生登录</h3>
									<p>请在登录之后使用，登录之后选择有疑问需要解惑的课程，点击预约即可。</p>
								</div>
							</li>
						</ul>
					</div>
					</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- welcome -->
	<div class="welcome">
		<!-- container -->
		<div class="container">
			<div class="welcome-info">
				<h3>Python</h3>
				<p class="caption">本系统采用Python编写。</p>
				<p class="welcome-text">本系统使用了开源Python框架——django搭建。Python2.7 Django1.8 Sqlite3.</p>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //welcome -->
	<!-- offer -->
	<div class="offer">
		<div class="offer-right welcome-right ">
			
		</div>
		<div class="offer-left">
			<h3>Bootstrap v2</h3>
			<p>前端框架采用Bootstrap。
			</p>
			<div class="offer-left-list">
				<ul>
					<li><a href="#">统一格式</a></li>
					<li><a href="#">开发迅速</a></li>
					<li><a href="#">界面友好</a></li>
				</ul>
			</div>
			<div class="offer-left-list">
				<ul>
					<li><a href="#">更加稳定</a></li>
					<li><a href="#">更加安全</a></li>
				</ul>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
	<!-- //offer -->

		<!-- //container -->
		<div class="footer-bottom">
			<!-- container -->
			<div class="container">
				<p>Copyrights © 2015 laixintao</p>
			</div>
		</div>
	</div>
	<!-- //footer -->
</body>	
</html>